@import "reset";


$hc: #6BB6FF;
$muted-color: #F7F6F4;
$active-color: #F7E2C1;


body { font-size:100%; }
h1 { font-size:2.25em;  /* 16x2.25=36 */ }
h2 { font-size:1.5em;   /* 16x1.5=24 */ }
h3 { font-size:1.125em; /* 16x1.125=18 */ }
h4 { font-size:0.875em; /* 16x0.875=14 */ }
p  { font-size:0.75em;  /* 16x0.75=12 */ }


#header {
  position:fixed;
  top: 2ex;
  background-color: $hc;
  padding: 6px;
  border-radius: 8px;
  margin-left: 2em;
  
  h1 {
    float: left;
    margin-right: 2ex;
  }
  
  form { float: left; }
}

#hits {
  padding-top: 1ex;
  margin-top: 9ex;
  margin-left: 2em;
  width: 80%;
  
  .non-snippet { display: none; }
  
  h2 { margin-left: 10%; margin-top: 3ex; }
}

.match {
  background-color: yellow;
}

.section {
  margin-top: 4ex;
  cursor: row-resize;
  
  .clear { clear: both; }
  
  .title {
    font-weight: bold;
  }
  
  .meta-tab {
    background-color: $muted-color;
    float: left;
    width: 8%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid $muted-color;
    padding: 1% 1% 1% 0;
    text-align: right;
  }
  &:hover>.meta-tab { background-color: $active-color; border-color: $active-color; }
  
  .content {
    border-top: 3px solid $muted-color;
    width: 85%;
    float: left;
    padding: 1%;
  }
  &:hover>.content { border-color: $active-color; }
}
