form#search {
  position:fixed;
  top: 2ex;
  background-color: #6BB6FF;
  padding: 6px;
  border-radius: 8px;
  margin-left: 10%;
}

#hits {
  padding-top: 1ex;
  margin-top: 9ex;
  margin-left: 2em;
  width: 80%;
}

.match {
  background-color: yellow;
}

#hits .non-snippet { display: none; }

.section {
  margin-top: 4ex;
  cursor: row-resize;
}
.section>.clear { clear: both; }
    
.section>.meta-tab {
  background-color: #F7F6F4;
  float: left;
  width: 8%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #F7F6F4;
  padding: 1% 1% 1% 0;
  text-align: right;
}
.section:hover>.meta-tab { background-color: #F7E2C1; border-color: #F7E2C1; }

.section>.content {
  border-top: 3px solid #F7F6F4;
  width: 85%;
  float: left;
  padding: 1%;
}
.section:hover>.content { border-color: #F7E2C1; }

.section .title {
  font-weight: bold;
}

#hits h2 { margin-left: 10%; margin-top: 3ex; }
