@import "reset";


$inactive-muted-bg: #F7F6F2;
$active-muted-bg: #EDECE8;
$column-width: 35em;
$active-fg: #000000;
$inactive-fg: #403F3E;


body { font-size:100%; }
h1 { font-size:2.25em; }
h2 { font-size:1.75em; }
h3 { font-size:1.3em; }
p { font-size:1.0em; line-height: 1.45; }

a {
  color: $inactive-fg;
  &:hover {
    background-color: yellow;
  }
}


body {
  font-family: 'Forum', serif;
  padding-left: 4em;
  color: $inactive-fg;
}

#header {
  position:fixed;
  top: 2ex;
  background-color: $inactive-muted-bg;
  padding: 6px;
  border-radius: 8px;
  
  h1 {
    float: left;
    margin-right: 2ex;
  }
  
  form { float: left; }
}

#intro {
  margin-top: 14ex;
  font-size: 1.3em;
  color: $active-fg;
  max-width: $column-width;
}

#hits {  
  .non-snippet { display: none; }
  
  h2 {
    margin-top: 10ex;
    margin-bottom: 4ex;
    margin-left: 10em;
  }
}

.match {
  background-color: yellow;
}

.section {
  margin-bottom: 5ex;
  cursor: row-resize;
  
  .clear { clear: both; }
  
  h3 { margin-bottom: 1ex; }
  
  .meta-tab {
    float: left;
    width: 5em;
    text-align: right;
    padding: 1ex;
  }
  
  .content {
    border-left: 3px solid $inactive-muted-bg;
    width: $column-width;
    float: left;
    padding: 1ex 0 0 1ex;
  }
  &:hover>.content {
    border-color: $active-muted-bg;
  }
  
  &:hover {
    color: $active-fg;
  }
}
